<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="description" content="간편하게 이미지를 세로로 합치는 사이트입니다.">
        <meta name="keywords" content="이미지, 병합, 세로 병합, 이미지 병합, 이미지 붙이기, 사진 붙이기, 이미지 세로로 합치기">
        <meta name="author" content="Merge Image">
        <title>phoMerge | 이미지 세로 이어붙이기</title>
        <link rel="stylesheet" href="/css/main.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </head>
    <body>
        <div class="parent-container">
            <div class="form-container">
                <a href='/' class="logo-text">phoMerge</a>
                <span class="main-text">최대 4장을 이어 붙일 수 있습니다.</span>
                <span class="sub-text">사진의 가로 길이가 다를 시 배경이 검정색으로 처리됩니다.</span>
                <form action="/upload" method="post" enctype="multipart/form-data" id="upload-form">
                    <div class="upload-container">
                        <div class="file-upload">
                            <input type="file" name="photos" id="real-input1" accept=".jpg,.jpeg,.png"  style="display: none;">
                            <button type="button" id="browse-btn1" class="browse-btn">+</button>
                        </div>
                        <div class="file-upload">
                            <input type="file" name="photos" id="real-input2" accept=".jpg,.jpeg,.png"  style="display: none;">
                            <button type="button" id="browse-btn2" class="browse-btn">+</button>
                        </div>
                        <div class="file-upload">
                            <input type="file" name="photos" id="real-input3" accept=".jpg,.jpeg,.png" style="display: none;">
                            <button type="button" id="browse-btn3" class="browse-btn">+</button>
                        </div>
                        <div class="file-upload">
                            <input type="file" name="photos" id="real-input4" accept=".jpg,.jpeg,.png" style="display: none;">
                            <button type="button" id="browse-btn4" class="browse-btn">+</button>
                        </div>
                    </div>
                    <button type="submit" >Upload</button>
                </form>
                <% if (typeof image !== 'undefined') { %>
                    <div class="img-container">
                        <a href="<%= image %>" download="MergedImage.png" class="download-btn">Download Image</a>
                        <!-- 이미지의 경로를 웹에서 접근 가능한 URL로 변경 -->
                        <img src="<%= image %>" alt="Merged Image">
                    </div>
                <% } %>
            </div>
        </div>
        <script src="/js/main.js"></script>
    </body>
</html>
