@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'seolleimcool-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: linear-gradient(120deg, #323756 0%, #36294b 100%);
    height: 100vh;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent-container {
    position: relative;
    height: 100%;
}

.logo-text {
    margin-top: 5px;
    text-align: center;
    font-family: 'Giants-Inline'; 
    color : #F5B862;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    font-size: -webkit-xxx-large;
}

.main-text {
    position: relative;
    font-family: 'seolleimcool-SemiBold';
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
    margin-top: 15px;
    color: white; 
    opacity: 0; /* 처음에는 텍스트를 보이지 않게 설정 */
    
    animation-name: fadeIn; 
    animation-duration: 2s; 
    animation-fill-mode : forwards ;
}

.sub-text {
    font-family: 'seolleimcool-SemiBold';
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
    color: white;
    margin: 5px;
    opacity: 0;
    animation-name: fadeIn; 
    animation-duration: 3s; 
    animation-fill-mode : forwards ;
}

@keyframes fadeIn {
    to {
        opacity :1 ;
    }
}

.form-container {
    background-image: linear-gradient(80deg, #3f464d 0%, #565d65 100%);
    background-attachment: fixed;
    width: 500px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.img-container {
    background-image: linear-gradient(80deg, #2F2F46 0%, #343146 100%);
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.img-container img {
    max-width: 100%; /* 이미지가 div의 너비를 넘지 않도록 */
    max-height: 100%; /* 이미지가 div의 높이를 넘지 않도록 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.upload-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=file] {
    margin: 6px 0;
    padding: 6px 12px;
    border: none;
    border-radius: 4px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    background-color: white;
}

.file-upload {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
    width: 95px;
    height: 105px;
}

.browse-btn {
    margin: 6px 0;
    padding: 14px 18px;
    border: none;
    border-radius: 50%; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    background-color: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #EB9F22; 
    color: rgb(69, 69, 69); 
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #ffc400;
}

.download-btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(69, 69, 69); 
    background-color: #EB9F22; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #ffc400;
}

.footer-class {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

.footer-container {
    color: white;
    font-size: 10px;
    padding: 5px;
    position: absolute;
}


@media (max-width: 768px) {
    .form-container {
        width: 90%; 
        padding: 10px;
        position: relative;
    }
    .img-container {
        padding: 10px;
    }
    .download-btn {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .file-upload {
        padding: 10px;
        width: 60px;
        height: 80px;
    }

    .main-text {
        font-size: smaller;
    }
    
    .sub-text {
        font-size: smaller;
        width: 180px;
    }
}

